Map/bayern-latest.osm.pbf
Map/bayern-latest.osm-gh2/edges
Map/bayern-latest.osm-gh2/geometry
Map/bayern-latest.osm-gh2/location_index
Map/bayern-latest.osm-gh2/names
Map/bayern-latest.osm-gh2/nodes
Map/bayern-latest.osm-gh2/properties
graphhopper